*{
    box-sizing: border-box;/* Les dimensions incluent padding et border → facilite les layouts. */
}

.main{
    display: flex;/* Active Flexbox pour le conteneur .main. */
    flex-direction: row;/* Les éléments enfants sont alignés horizontalement (valeur par défaut). */
}

img{
    position: fixed;/* L’image reste fixée à la même position même en scrollant la page. */
}
