body {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: background-color 1ms;
}
header {
    padding: 2vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: rgba(0, 0, 0, 0.1);
}

h2 {
color: antiquewhite;
}

.hub-container {
    padding: 50px 20px;
}

.tp-group {
    background: rgba(0, 0, 0, 0.8);
    padding: 20px;;
}

.tp-group a {
    display: block;
    margin: 10px 0;
    color: #b4b4b4;
    text-decoration: dotted;
}
