
#clancy-banner {
    width: 728px;
    height: 90px;
    background-color: #130e0e; 
    overflow: hidden;
    display: flex;
    align-items: center;
    position: relative;
    font-family: 'Impact', 'Arial Black', sans-serif; 
}


.logo-wrapper {
    margin-left: 30px;
    filter: drop-shadow(0 0 1px #868680);
}

.glitch-logo {
    height: 60px;
    animation: shake 0.5s infinite alternate;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    20% { transform: translate(-1px, -2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    100% { transform: translate(1px, -1px) rotate(1deg); }
}


.text-container {
    margin-left: 40px;
    position: relative;
}

.rock-text {
    color: #fff;
    font-size: 3rem;
    margin: 0;
    letter-spacing: 4px;
    position: relative;
}

.subtitle {
    color: #e6413b;
    font-size: 12px;
    margin: 0;
    font-weight: bold;
    text-transform: uppercase;
    animation: blink-rock 0.1s infinite;
}

@keyframes blink-rock {
    0%, 100% { color: #e6413b; }
    50% { color: #000000; }
}

.tape {
    position: absolute;
    right: -20px;
    top: 20px;
    width: 100px;
    height: 30px;
    background: #fde61e;
    transform: rotate(37deg);
    opacity: 1;
}