*{box-sizing:border-box}
html,body{height:100%}
body{
  margin:0;
  font-family:'Courier New', Courier, monospace;
  background:#000a05;
  color:#00ff0d;
  display:flex;
  align-items:center;
  justify-content:center;
}
main{max-width:900px;padding:2rem;text-align:center}


.box{
  width:300px;
  height:200px;
  background:#00ff40; /* couleur par défaut */
  color:#000000;
  display:flex;
  align-items:center;
  justify-content:center;
  margin:1rem auto;
}

/* Lorsque la largeur devient < 960px */
@media (max-width: 960px){
  .box{ background:#eef111;  }
}

/* Lorsque la largeur devient < 480px */
@media (max-width: 480px){
  .box{ background:#ff0909; }
}

